<%- include('./partials/header.ejs') %>
<body>

  <!-- ======= Navbar ======= -->
    <%- include('./partials/navbar.ejs') %>

<main id="main">
<section class="section pb-5" style="margin-top: -70px;">
    <div class="container">
      <div class="row mb-5 align-items-end">
        <div class="col-md-6" data-aos="fade-up">
          <h2>About Warungbajumu</h2>
          <p class="mb-0">Warungbajumu is a platform that offers quality and 
              original used clothes with unique designs that will give you a special impression.</p>
        </div>
      </div>

      <div class="row">
        <!-- <div class="col-md-4 ml-auto order-2" data-aos="fade-up">
            <img src="assets/img/undraw_web_shopping_re_owap.png" alt="">
          <h3 class="h3 mb-4">Skills</h3>
          <ul class="list-unstyled">
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>WordPress</strong>
                <span class="ml-auto">80%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>Photoshop</strong>
                <span class="ml-auto">96%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 96%" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>HTML5/CSS3</strong>
                <span class="ml-auto">99%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>Veu</strong>
                <span class="ml-auto">87%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 87%" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>Angular</strong>
                <span class="ml-auto">85%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>React</strong>
                <span class="ml-auto">88%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 88%" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </li>
          </ul>
        </div> -->

        <div class="col-md-7 mb-5 mb-md-0" data-aos="fade-up">
          <p><img src="/assets/img/undraw_Online_shopping_re_k1sv.png" alt="Image" class="img-fluid"></p>
          <p>Clothing is one of the basic human needs. Even so, meeting these needs does not have to sacrifice our only earth. 
              This is where <u>warungbajumu</u> comes in and becomes one of the solutions in shopping for clothes while minimizing the negative impact on the environment. 
              what you get when you buy at <u>warungbajumu</u> clothes are as follows:</p>
          <!-- <p>   Clothes are indeed one of humanity’s basic needs. Even so, the fulfillment of such need does not have to cost our one 
              and only earth. This is where thrift shop comes in and becomes one of the solutions in shopping for clothes 
              while minimizing the negative environmental impacts.
            In addition to being environmentally friendly, thrift shopping also has several other benefits as follow:</p> -->

          <!-- <p>Fuga fugit distinctio delectus iure vitae consequatur excepturi, mollitia, consectetur molestias sapiente
            rem consequuntur, illum adipisci, sed obcaecati!</p>
          <p>Ex, dolorem qui voluptas reprehenderit provident, ad ipsum iure a consequatur voluptatem incidunt nobis.
            Vitae reiciendis quae ex.</p>
          <p>Optio consectetur culpa nemo, fugit pariatur veniam voluptate laudantium rerum fuga dolor in maiores ea
            nisi voluptatibus. Minus?</p> -->
            <ul>
                <li>Cheap Price with Relatively Good Quality </li>
                <li>A Chance to Experiment with Style and Colors </li>
                <li>The Opportunity to find Unique or Rare Clothes </li>
            </ul>
          <!-- <p><a href="#" class="readmore">Download my CV</a></p> -->


          <!-- https://waste4change.com/blog/thrift-shopping-an-eco-friendly-alternative-to-buy-clothes/ -->
        </div>

      </div>

    </div>

  </section>
</main>
  <!-- ======= Footer ======= -->
<%- include('./partials/footer.ejs') %>

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<%- include('./partials/js.ejs') %>
</body>

</html>